---
import BaseLayout from '../layouts/BaseLayout.astro';
import type { Identity } from '../models/identity/identity';

const pageTitle: string = 'My Astro Learning Blog';

const identity: Identity = {
  firstName: 'André',
  hobbies: ['Video Games', 'Coding', 'Reading'],
  country: 'Portugal',
  occupation: 'Software Engineer',
  skills: [
    'JavaScript',
    'TypeScript',
    'React',
    'Node.js',
    'MongoDB',
    'PostgreSQL',
    'Astro',
  ],
  happy: true,
  finished: true,
  goal: 3,
};

const skillColor = 'navy';
const fontWeight = 'bold';
const textCase = 'uppercase';
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>

  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>
      I live in {identity.country} and I work as a {identity.occupation}.
    </li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>My skills are:</p>
  <ul>
    {identity.skills.map((skill) => <li class='skill'>{skill}</li>)}
  </ul>

  {identity.happy && <p>I am happy to be learning Astro!</p>}

  {identity.finished && <p>I finished this tutorial!</p>}

  {
    identity.goal === 3 ? (
      <p>My goal is to finish in 3 days.</p>
    ) : (
      <p>My goal is not 3 days.</p>
    )
  }
</BaseLayout>

<style define:vars={{ skillColor, fontWeight, textCase }}>
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>
